body {
    background-color: #ddd;
    margin: 0px;
    padding: 20px 460px 0px 20px;
    min-width: 500px;
}
div, input, legend {
    font-family: sans-serif;
    line-height: 1.3em;
    font-size: 0.9em;
}
a {
    color: #E1B41F;
    text-decoration: none;
}
:focus {
    outline: 0px;
}
#nojsnotice {
    margin: 100px 0px 0px 100px;
}
#left {
    float: left;
    width: 100%;
    padding-left: 40px;
}
#right {
    float: right;
    margin-right: -420px;
}
#rows, #editor, #output, #input, #memory_view {
    font-family: 'Lucida Console', Monaco, monospace;
    line-height: 19px;
    font-size: 12.8px;
}
#memory_size {
    width: 50px;
    text-align: center;
    border: 1px solid #000;
}
#eof_char_value, #dump_memory_char {
    width: 25px;
    text-align: center;
    border: 1px solid #000;
}
#editor {
    width: 100%;
    background-color: #1E1916;
    border: 0px none;
    color: #fff;
    overflow: auto;
    white-space: pre;
    display: block;
    float: left;
    margin: 0px;
    word-wrap: normal;
}
input[disabled]
{
    background-color: #666;
}
#rows {
    width: 40px;
    margin-left: -44px;
    float: left;
    background-color: #45443C;
    text-align: right;
    overflow: hidden;
    white-space: pre;
    color: #E1B41F;
}
#rows, #editor {
    height: 521px;
    padding: 2px;
}
#status {
    font-size: 16px;
    margin: 5px 30px;
    float: left;
    line-height: 1.5;
}
#status_bar {
    margin: 25px 0px;
    height: 15px;
        margin-left: -40px;
}
#right > fieldset {
    width: 330px;
    margin-bottom: 30px;
}
#right > fieldset > div {
    padding: 8px;
}
#right input {
    margin-top: 5px;
    margin-bottom: 5px;
}
.inactive_button, .active_button {
    outline: 1px solid #888;
    border: 2px solid #333;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    float: left;
    margin-right: 25px;
        margin-bottom: 5px;
        user-select: none;
}
.inactive_button {
    background-color: #999;
    cursor: default;
}
.active_button:hover {
    background-color: #bbb;
    cursor: pointer;
}
#output {
    margin-left: -40px;
    color: #ddd;
    height: 180px;
    background-color: #1E1916;
    white-space: pre;
    overflow: auto;
    padding: 2px 4px;
    font-size: 12px;
    clear: both;
}
#input, #input_border {
    background-color: #eee;
}
#input {
    width: 100%;
    border: 0px;
    font-size: 14px;
    line-height: 16.8px;
    padding: 3px 0px;
    margin: 0px;
}
#input_border {
    margin-left: -40px;
    border: 1px solid #1E1916;
    padding: 0px 5px;
}
#overlay {
    background-color: #000;
    opacity: .5;
    position: absolute;
    width: 1000%;
    height: 1000%;
    top: 0px;
    left: 0px;
}
#memory, #code {
    position: absolute;
    background-color: #1E1916;
    width: 900px;
    height: 700px;
    border: 2px solid #aaa;
    top: 80px;
    left: 190px;
    color: #eee;
}
#code_view {
    overflow: auto;
    padding: 5px;
    height: 650px;
    font-family: monospace;
    white-space: pre-wrap;
}
#memory_hide, #code_hide {
    text-align: center;
    border-bottom: 2px solid #aaa;
    cursor: pointer;
    height: 18px;
}
#memory_hide:hover, #memory_sidebar > div:hover, #code_hide:hover {
    background-color: #555;
}
#memory_sidebar {
    width: 180px;
    height: 630px;
    border-right: 2px solid #aaa;
    overflow: auto;
}
#memory_sidebar > div {
    border-bottom: 2px solid #aaa;
    padding: 4px;
    cursor: pointer;
}
#memory_type {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    border-top: 2px solid #aaa;
    border-right: 2px solid #aaa;
    width: 170px;
}
#memory_view {
    float: right;
    width: 670px;
    padding: 20px;
    white-space: pre;
    height: 640px;
    overflow: auto;
}
fieldset {
    border: 0px none;
    width: 100%;
    clear: both;
    padding: 0px;
    margin: 0px;
}
fieldset > div {
    background-color: #1E1916;
    color: #eee;
}
legend {
    background-color: #1E1916;
    color: #ddd;
    padding: 7px 15px;
    border-radius: 15px 15px 0px 0px;
}
br {
    clear: both;
}
ul {
    margin: 0px;
}
.email {
    font-family: monospace;
    background-color: #fff;
    color: #000;
}
