* {
	margin: 0px;
	padding: 0px;
}
body,
html {
	height: 100%;
}
.chess {
	margin: auto;
	position: relative;
	width: 600px;
	height: 600px;
}
.chess canvas {
	margin: 28px 0 0 58px;
	background: url(../images/chess-block.png) no-repeat;
}
.kon {
	position: absolute;
	width: 52px;
	height: 98px;
	background: url(../images/kon.png) no-repeat;
}
